// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../vendors/' as *;
@use '../components/menu-item';

#masthead {
  --nav-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
  z-index: 9999;

  &::before {
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: white;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition:
      visibility 0s,
      opacity 0.3s ease-in-out;
  }

  &.sticky::before {
    opacity: 1;
    visibility: visible;
  }

  .site-branding {
    max-width: 80px;
    aspect-ratio: 1 / 1;
    @include media-query('sm') {
      max-width: 100%;
      order: 0;
    }
  }

  .overlay {
    position: fixed;
    inset: var(--nav-height) 0 0 0;
    background-image: linear-gradient(to bottom, get-color('black-800'), transparent);
    z-index: -1;

    @include media-query('lg') {
      &.fade-in {
        display: none;
      }
    }
  }

  #site-navigation {
    order: 4;
    max-width: fit-content;
    @include apply-utility('py', 's');
    background-color: transparent;
    color: get-color('black');
    text-transform: uppercase;
    @include apply-utility('fw', 'medium');
    @include apply-utility('text', '300');
    #primary-menu {
      display: flex;
      align-items: center;
      position: fixed;
      @include apply-utility('gap', 'l');
      @extend %menu-item;

      &.hide-on-mobile {
        flex-direction: column;
        inset: 0 0 0 6rem;
        z-index: 9999;
        padding: min(1rem, 5vw);
        opacity: 0;
        transform: translateX(100%);
        @include apply-utility('text', '400');
        @include media-query('md') {
          position: relative;
          transform: translateX(0);
          flex-direction: revert;
          inset: unset;
          opacity: 1;
        }
        @include media-query('lg') {
          @include apply-utility('text', '500');
        }
      }

      &[data-visible='true'] {
        align-items: start;
        background-color: white;
        opacity: 1;
        transform: translateX(0);
        padding-top: 140px;
        padding-inline: 32px;
        transition: all 0.3s ease-in-out;
      }
    }

    @include media-query('md') {
      min-width: 320px;
      order: 1;
    }
  }

  .site-cta {
    margin-inline: auto;
    @include media-query('md') {
      margin-inline: revert;
      order: 2;
    }
  }

  .menu-hamburger {
    &.hide-on-desktop {
      display: block;
      order: 3;
      margin-left: auto;
      @include media-query('md') {
        display: none;
      }
    }
    & > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: white;
      transform-origin: 10px 2px;
      transition: transform 0.3s ease-in-out;

      &:not(:last-child) {
        margin-block-end: 3px;
      }
    }

    &[aria-expanded='true'] {
      span:nth-child(1) {
        transform: rotate(45deg) translate(2px, 2px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -0.5px);
      }
    }

    &:hover,
    &:focus {
      span {
        background-color: get-color('black-500');
      }
    }
  }

  @include media-query('md') {
    min-height: 130px;
    max-width: 1200px;
    & {
      top: auto !important;
    }
  }
}
