@use '../vendors' as *;

.room-card {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 382px;
  @include apply-utility('rounded', '2xl');
  background-color: white;
  overflow: hidden;
  margin: 0;
  header {
    position: relative;
    width: 100%;
    max-height: 156px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .price {
      position: absolute;
      padding: 8px;
      width: fit-content;
      max-height: 48px;
      top: 50%;
      right: 0;
      background: get-color('black-50');
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      backdrop-filter: blur(4px);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;

    .room-info {
      display: flex;
      gap: 16px;
      align-items: center;
      text-transform: capitalize;

      & > * > * + * {
        margin-left: 8px;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    margin-top: auto;
  }
}

.room-card[data-style='room-card-flat'] {
  width: auto;
  height: auto;
  @include apply-utility('rounded', 'lg');
  cursor: pointer;
  border: 2px solid get-color('secondary');

  header {
    position: relative;
    width: 100%;
    max-height: 240px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
        transition: all 0.5s;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-block: 24px;
    padding-inline: 40px;

    .room-info {
      display: flex;
      gap: 16px;
      align-items: center;
      text-transform: capitalize;

      & > * > * + * {
        margin-left: 8px;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    margin-top: auto;

    .btn {
      width: 100%;
      justify-content: center;
    }
  }
}

.room-card[data-style='room-card-flat'][data-variant='simple'] {
  border: 1px solid get-color('black-50');

  header {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 240px;
    overflow: hidden;

    img {
      /* Make the image position center */
      object-position: center center;
    }

    @include media-query('lg') {
      max-height: 180px;
    }
  }

  .content {
    display: grid;
    background-color: get-color('black-100');
    gap: 32px;
    padding-block: 24px;
    padding-inline: 40px;

    .title {
      text-transform: uppercase;
    }

    @include media-query('lg') {
      @include apply-utility('text', '300');
      @include apply-utility('fw', 'light');

      .room-price {
        @include apply-utility('text', '400');
        min-height: 68px;
      }
    }
  }
}
