@use '../vendors' as *;

.switch-group {
  display: flex;
  background-color: get-color('black-50');
  @include apply-utility('rounded', 'full');
  height: 68px;
  padding: 8px;

  input[type='radio'] {
    display: none;
  }

  label[data-style='switch'].active {
    padding: 12px 24px;
    background-color: get-color('primary');
    color: white;
    transition: all 0.3s ease-in-out;
  }
}
