@use '../vendors/' as *;

.rooms-container {
  display: grid;
  padding: 24px;
  row-gap: 32px;

  @include media-query('lg') {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 24px;
    padding-top: 100px;
  }
}

.extra-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 40px;

  .extra-service__content {
    flex: 1;
    display: grid;
    row-gap: 16px;
    font-size: 18px;
    @include apply-utility('fw', 'light');

    .title {
      @include apply-utility('text', '600');
      @include apply-utility('fw', 'light');
    }
    .extra-service__list > * + * {
      margin-top: 16px;
    }

    ul {
      display: grid;
      row-gap: 8px;
    }

    .btn {
      justify-content: center;
    }
  }

  .extra-service-cards {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > * {
      flex: 1;
    }
  }

  @include media-query('lg') {
    flex-direction: row;
    justify-content: space-between;

    .extra-service-cards {
      flex-direction: revert;
    }
  }
}
